@font-face {
    font-family: myFirstFont;
    src: url(ufonts.com_quasimodo.woff);
}

/*GENERAL*/
body {
    background-color: #FFCEA2;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 0px;
}

h1 {
    font-family: myFirstFont;
    font-size: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}


/*HOMEPAGE*/

#maincharacter {
    max-height: 350px;
}

.mainenter {
            animation: mainEnters 3s ease-out forwards;

        }

        @keyframes mainEnters {
            0% { margin-left: -300px;
                opacity: 0;
            }
            100% { margin-left: 550px;
                    opacity: 1;
            }

            }

#flexcontainer {
    width: 100%;
}

#steps-button {
    margin-top: 25px;
    background-color:#F6F1DF;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	cursor:pointer;
	font-family:myFirstFont;
	font-size:25px;
	padding:20px 57px;
	text-decoration:none;
	text-shadow:-3px 2px 16px myFirstFont;
}


#btn_container {
    text-align: center;
}

/*ENTERNAME*/

#playername {
    margin-top: 100px;
}

#label {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: impact;
    font-size: 40px;
}
#input {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    height: 40px;
}

#instructions {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
}
/*MAIN*/

#p-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

#playercharacter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#playercharacter img {
    max-height: 100px;
}




#homepage {
    display: ;
}

#main {
    display:none;
}
#playername {
    display: none;
}
#steps-button {
    display: ;
}
